*.cs linguist-documentation=false
*.cs linguist-vendored=false
*.c++ linguist-documentation=false
*.c++ linguist-vendored=false
*.cpp linguist-documentation=false
*.cpp linguist-vendored=false
*.c linguist-documentation=false
*.c linguist-vendored=false
*.java linguist-documentation=false
*.java linguist-vendored=false
*.py linguist-documentation=false
*.py linguist-vendored=false
