Assets/** linguist-documentation=false
Assets/** linguist-vendored=false
Library/** linguist-documentation=false
Library/** linguist-vendored=false
Logs/** linguist-documentation=false
Logs/** linguist-vendored=false
Packages/** linguist-documentation=false
Packages/** linguist-vendored=false
ProjectSettings/** linguist-documentation=false
ProjectSettings/** linguist-vendored=false
UserSettings/** linguist-documentation=false
UserSettings/** linguist-vendored=false
