Assets/** linguist-vendored
Library/** linguist-vendored
Logs/** linguist-vendored
Packages/** linguist-vendored
ProjectSettings/** linguist-vendored
UserSettings/** linguist-vendored
Script_bak/** linguist-vendored=false
Script_bak/** linguist-documentation=false
